/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Open Sans;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* Nav */
nav {
    position: relative;
    z-index: 2;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li > a {
    display: block;
    color: #eee;
    text-align: center;
    padding: 25px 35px;
    text-decoration: none;
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 100;
    max-width: 180px;
    transition: 0.4s;
    text-shadow: 1px 1px #000;
}
li a:hover:not(.active) {
    background-color: rgba(0,0,0,0.6);
}
/* Dropdown menu */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0.6);
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #eee;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}
.dropdown .dropdown-content a:hover {
    background-color: #000;
}
.dropdown-content.active {
    display: block;
}
.chevron:hover::after {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.30em;
    left: 0.55em;
    position: relative;
	top: 0;
	transform: rotate(135deg);
    vertical-align: super;
    width: 0.30em;
}
/* Main bg */
.landing {
    background: url(../images/background.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-position: bottom;
}
.landing .title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 10%;
    left: 5%;
}
.landing h1 {
    font-size: 100px;
    color: #fff;
    text-shadow: 2px 2px #000;
}